.vnq-input-number {
  display: block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  transition: all 0.2s;
  box-sizing: border-box;
  outline: none;
  border-radius: 6px;
}

.vnq-input-number:hover, .vnq-input-number:focus {
  border-color: #4096ff;
}
